apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  labels:
    external-secrets.io/component: controller
  name: authorizations.federation.external-secrets.io
spec:
  group: federation.external-secrets.io
  names:
    categories:
    - external-secrets
    - external-secrets-federation
    kind: Authorization
    listKind: AuthorizationList
    plural: authorizations
    singular: authorization
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Authorization is the schema to control authorization over ClusterSecretStores.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              allowedClusterSecretStores:
                items:
                  type: string
                type: array
              federationRef:
                properties:
                  kind:
                    type: string
                  name:
                    type: string
                required:
                - kind
                - name
                type: object
              subject:
                properties:
                  issuer:
                    type: string
                  subject:
                    type: string
                required:
                - issuer
                - subject
                type: object
            required:
            - allowedClusterSecretStores
            - federationRef
            - subject
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
