apiVersion: v2
name: external-secrets
description: External secret management for Kubernetes
type: application
version: 1.1.5
appVersion: v1.1.5
kubeVersion: ">= 1.19.0-0"
keywords:
  - kubernetes-external-secrets
  - secrets
home: https://github.com/external-secrets/external-secrets
icon: https://raw.githubusercontent.com/external-secrets/external-secrets/main/assets/eso-logo-large.png
maintainers:
  - name: mcavoyk
    email: kellinmcavoy@gmail.com
dependencies:
  - name: esi-pod-webhook
    version: 0.3.1
    repository: oci://us-central1-docker.pkg.dev/external-secrets-inc-registry/public/charts
    condition: esi-pod-webhook.enabled
  - name: bitwarden-sdk-server
    version: v0.3.1
    repository: oci://ghcr.io/external-secrets/charts
    condition: bitwarden-sdk-server.enabled
