name: Create Release

on:
  release:
    types: [published]

env:
  IMAGE_NAME: us-central1-docker.pkg.dev/external-secrets-inc-registry/external/external-secrets
  TAG_NAME: ${{ github.event.release.tag_name }}

permissions:
  contents: read

jobs:
  promote:
    name: Promote Container Image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - tag_suffix: "" # distroless image
        - tag_suffix: "-ubi" # ubi image
        - tag_suffix: "-ubi-boringssl" # ubi image

    permissions:
      contents: write #to update the github release
      id-token: write #for keyless sign
      packages: write #to update packages with added SBOMs.

    env:
      SOURCE_TAG: main${{ matrix.tag_suffix }}
      RELEASE_TAG: ${{ github.event.release.tag_name }}${{ matrix.tag_suffix }}

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        id: setup-go
        with:
          go-version-file: "go.mod"

      - name: Download Go modules
        if: ${{ steps.setup-go.outputs.cache-hit != 'true' }}
        run: go mod download

      - name: Set up Google Cloud authentication
        id: auth
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          workload_identity_provider: ${{ vars.DEV_IDENTITY_POOL }}
          service_account: ${{ vars.DEV_CI_SERVICE_ACCOUNT }}
          access_token_lifetime: 3600s


      - name: Login to Artifact Registry
        uses: docker/login-action@v1
        with:
          registry: us-central1-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Promote Container Image
        run: |
          IMAGE_NAME=us-central1-docker.pkg.dev/external-secrets-inc-registry/external/external-secrets make docker.promote
          IMAGE_NAME=us-central1-docker.pkg.dev/external-secrets-inc-registry/public/external-secrets make docker.promote
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ steps.auth.outputs.credentials_file_path }}

      - name: Build release manifests
        run: |
          # temporarily patch the version so we generate manifests with the new version
          yq e -i '.version = "${{ github.event.release.tag_name }}"' ./deploy/charts/external-secrets/Chart.yaml
          yq e -i '.appVersion = "${{ github.event.release.tag_name }}"' ./deploy/charts/external-secrets/Chart.yaml
          make manifests

      - name: Sign promoted image
        id: sign
        uses: ./.github/actions/sign
        with:
          image-name: ${{ env.IMAGE_NAME }}
          image-tag: ${{ env.RELEASE_TAG }}
          GHCR_USERNAME: ${{ secrets.GHCR_USERNAME }}
          GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IDENTITY_POOL: ${{ vars.DEV_IDENTITY_POOL }}
          SERVICE_ACCOUNT: ${{ vars.DEV_CI_SERVICE_ACCOUNT }}

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Build And Publish Manifests - Latest
        run: |
          gcloud storage cp deploy/crds/bundle.yaml gs://${{ vars.PROD_BUCKET_CDN }}/external-secrets/crds/latest/bundle.yaml
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ steps.auth.outputs.credentials_file_path }}

      - name: Build And Publish Manifests - SemVer
        run: |
          gcloud storage cp deploy/crds/bundle.yaml gs://${{ vars.PROD_BUCKET_CDN }}/external-secrets/crds/${{ env.TAG_NAME}}/bundle.yaml
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ steps.auth.outputs.credentials_file_path }}
