on:
  push:
    branches:
    - main

name: release-please

jobs:
  release-please:
    permissions:
      contents: write
      pull-requests: write
      issues: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/create-github-app-token@v1
      id: app-token
      with:
        app-id: ${{ vars.ESI_BOT_APP_ID }}
        private-key: ${{ secrets.ESI_BOT_PRIVATE_KEY }}
    - uses: googleapis/release-please-action@v4
      with:
        token: ${{ steps.app-token.outputs.token }}
        release-type: go
