name: Helm

on:
  push:
    branches:
      - main
    paths:
      - 'deploy/charts/**'
      - 'deploy/crds/**'
  pull_request:
    paths:
      - 'deploy/charts/**'
      - 'deploy/crds/**'
  workflow_dispatch: {}


jobs:
  lint-and-test:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Generate chart
        run: |
          make helm.generate
      - name: Set up Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
        with:
          version: v3.17.3 # remember to also update for the second job (release)

      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          python-version: 3.12

      - name: Install chart unittest
        run: |
          helm env
          helm plugin install https://github.com/helm-unittest/helm-unittest


      - name: Run unitests
        run: make helm.test

  release:
    permissions:
      contents: read 
      packages: read 
      id-token: write
    runs-on: ubuntu-latest
    if: |
      github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set up Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
        with:
          version: v3.17.3 # remember to also update for the first job (lint-and-test)

      - name: Generate chart
        run: |
          make helm.generate
          

      - name: Set up Google Cloud authentication
        id: auth
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          workload_identity_provider: ${{ vars.DEV_IDENTITY_POOL }}
          service_account: ${{ vars.DEV_CI_SERVICE_ACCOUNT }}
          access_token_lifetime: 300s

      - name: Push chart
        run: |
          make helm.push

      - name: Get Chart Version
        id: get-chart-version
        run: |
            version=$(helm show chart deploy/charts/external-secrets | yq e '.version' -)
            echo "chart_version=$version" >> $GITHUB_OUTPUT
    
      - name: login to github app
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.ESI_BOT_APP_ID }}
          private-key: ${{ secrets.ESI_BOT_PRIVATE_KEY }}
          repositories: "esi-bundle"
          owner: external-secrets-inc
  
        # Trigger workflow in esi-bundle
      - name: Trigger workflow in esi-bundle
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ steps.app-token.outputs.token }}
          repository: external-secrets-inc/esi-bundle
          event-type: update-chart-dependency
          client-payload: '{"new_version": "${{ steps.get-chart-version.outputs.chart_version }}", "chart_name": "external-secrets"}'